/* NEWS SECTION */
@import url(../fonts/ft40/ft40.css);
@import url(../fonts/AG Book Pro Regular/AG Book Pro Regular.css);
@import url(../fonts/AG Book Pro Bold/AG Book Pro Bold.css);
/* news */
#news-post {
  padding: 1rem; }

.news {
  background-color: #4eb748;
  padding-bottom: 100px;
  overflow: hidden;
  position: relative; }
  .news-section {
    background-color: #f3762e; }
  .news__arrows {
    cursor: pointer; }
    .news__arrows-right {
      position: absolute;
      right: -35px;
      -webkit-transition: all 0.15s linear;
      -o-transition: all 0.15s linear;
      transition: all 0.15s linear; }
      .news__arrows-right:hover {
        right: -10px; }
    .news__arrows-left {
      position: absolute;
      left: -35px;
      -webkit-transition: all 0.15s linear;
      -o-transition: all 0.15s linear;
      transition: all 0.15s linear; }
      .news__arrows-left:hover {
        left: -10px; }
    .news__arrows-wrap {
      position: relative;
      width: 100%; }
  .news .slick-dots {
    bottom: -15px; }
    .news .slick-dots li button {
      background-color: #ffffff; }
  .news .slick-dotted.slick-slider {
    margin-bottom: 0; }
  .news .slick-center {
    padding-bottom: 5rem;
    -webkit-transform: translateY(5rem);
        -ms-transform: translateY(5rem);
            transform: translateY(5rem);
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out; }
  .news__container {
    width: 1200px;
    margin: auto;
    padding: 0 1rem; }
  .news__title {
    color: #ffffff;
    font-family: "ProbaPro-Bold", sans-serif;
    font-size: 70px;
    line-height: 50px;
    letter-spacing: 0.21px;
    padding-top: 120px;
    margin-bottom: 60px;
    text-align: center; }
  .news__item {
    text-align: center; }
  .news__text-lighten {
    color: #ffffff;
    display: block;
    font-family: "ProbaPro-Regular", sans-serif;
    font-size: 20px;
    line-height: 30px;
    opacity: 0.5; }
  .news__text-normal {
    color: #ffffff;
    display: block;
    font-family: "ProbaPro-Medium", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    max-width: 310px;
    margin: auto;
    min-height: 90px;
    word-wrap: break-word; }
  .news__image {
    margin-bottom: 30px; }
    .news__image img {
      margin: auto; }
  .news__arrows {
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .news__count {
    color: #ffffff;
    font-size: 24px;
    font-family: "ProbaPro-Medium", sans-serif;
    line-height: 40px;
    text-align: center; }
    .news__count .total {
      opacity: 0.5; }

/*/ news */
/* news-post */
.news-post {
  padding-top: 100px; }
  .news-post__container {
    max-width: 1200px;
    margin: auto; }
  .news-post__title {
    color: #383838;
    font-family: "ProbaPro-Bold", sans-serif;
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    max-width: 960px;
    margin: auto; }
  .news-post__number {
    opacity: 0.5;
    color: #383838;
    font-family: "ProbaPro-Regular", sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-align: center; }
  .news-post .header__social {
    font-size: 0;
    height: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 40px 0; }
    .news-post .header__social img {
      margin: 0 5px; }
    .news-post .header__social .studio-about__share {
      height: 40px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
  .news-post__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .news-post__image, .news-post__description {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; }
  .news-post__image {
    padding: 0 1rem; }
    .news-post__image img {
      width: 100%; }
  .news-post__description {
    padding: 0 1rem; }
  .news-post__text-default {
    color: #383838;
    font-family: "Circe - Regular", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px; }
    .news-post__text-default:not(:first-child) {
      margin-bottom: 20px;
      margin-top: 40px; }
  .news-post__text-quote {
    font-family: "Circe - Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    margin-top: 40px; }
  .news-post__text-orange {
    color: #f3762e; }
  .news-post__text-mini {
    font-size: 18px; }
  .news-post__picture img {
    width: 100%;
    height: 320px; }
  .news-post__picture_text {
    opacity: 0.5;
    color: #000000;
    font-family: "Circe - Regular", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px; }
  .news-post__subtitle {
    color: #383838;
    font-family: "Circe Bold", sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: -30px; }
  .news-post__video_text {
    opacity: 0.5;
    color: #000000;
    font-family: "Circe - Regular", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px; }

/*/ news-post */
