.tabs-container {
  position: relative;
  padding: 0 1rem; }

ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

ul.tabs li {
  background: none;
  color: #222;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer; }

ul.tabs li.current {
  background: #ededed;
  color: #222; }

.tab-content {
  display: none;
  padding: 15px; }

.tab-link {
  font-size: 1rem; }

.tab-content.current {
  display: inherit; }
