@import url(../fonts/ft40/ft40.css);
@import url(../fonts/AG Book Pro Regular/AG Book Pro Regular.css);
@import url(../fonts/AG Book Pro Bold/AG Book Pro Bold.css);
.currency-list, .wallet-list {
  background-color: #fff;
  -webkit-box-shadow: 0.53px -0.848px 6px 0px rgba(0, 0, 0, 0.14);
          box-shadow: 0.53px -0.848px 6px 0px rgba(0, 0, 0, 0.14);
  margin-top: 15px;
  height: 458px;
  overflow: hidden;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-border-radius: 3px;
          border-radius: 3px; }
  .currency-list:hover, .wallet-list:hover {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .currency-list .nav-tabs .nav-item.show .nav-link,
  .currency-list .nav-tabs .nav-link.active, .wallet-list .nav-tabs .nav-item.show .nav-link,
  .wallet-list .nav-tabs .nav-link.active {
    border-bottom: 2px solid #3cbf8d;
    color: #38393a;
    font-weight: bold; }
  .currency-list .nav-tabs, .wallet-list .nav-tabs {
    background-color: #fff;
    border-bottom: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; }
  .currency-list .nav-tabs .nav-item, .wallet-list .nav-tabs .nav-item {
    background-color: #fff; }
  .currency-list .nav-tabs .nav-item, .wallet-list .nav-tabs .nav-item {
    margin-bottom: 0; }
  .currency-list .nav-tabs .nav-link, .wallet-list .nav-tabs .nav-link {
    border: none;
    color: #c0c0c2;
    font-size: 14px;
    display: block;
    font-family: "Open Sans", sans-serif;
    padding: 10px 1rem;
    text-transform: uppercase; }
  .currency-list .tab-pane__row, .wallet-list .tab-pane__row {
    position: relative; }
  .currency-list .tab-pane__search, .wallet-list .tab-pane__search {
    background: url("../img/searchicon.png") no-repeat 15px center;
    border: none;
    color: #38393a;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    height: 37px;
    padding: 5px 40px 5px; }
  .currency-list .tab-pane__icon, .wallet-list .tab-pane__icon {
    color: #fec969;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .currency-list .currency-table, .wallet-list .currency-table {
    margin-top: 0;
    -webkit-box-shadow: unset;
            box-shadow: unset; }
    .currency-list .currency-table__name, .currency-list .currency-table__fullname, .wallet-list .currency-table__name, .wallet-list .currency-table__fullname {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 100%;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%; }
    .currency-list .currency-table__name, .wallet-list .currency-table__name {
      color: #38393a;
      font-weight: bold;
      font-size: 14px;
      display: block;
      font-family: "Open Sans", sans-serif;
      text-transform: uppercase; }
    .currency-list .currency-table__fullname, .wallet-list .currency-table__fullname {
      color: #c0c0c2;
      font-size: 12px;
      font-family: "Open Sans", sans-serif; }
    .currency-list .currency-table__td, .wallet-list .currency-table__td {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      width: 100%;
      height: 32px;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 12px;
      font-family: "Open Sans", sans-serif;
      color: #38393a;
      line-height: 1.25; }
    .currency-list .currency-table .percent, .wallet-list .currency-table .percent {
      display: inline-block;
      font-weight: bold; }
      .currency-list .currency-table .percent-red, .wallet-list .currency-table .percent-red {
        color: #d93d47; }
      .currency-list .currency-table .percent-green, .wallet-list .currency-table .percent-green {
        color: #53c599; }
    .currency-list .currency-table .table thead tr td .sell-orders__td, .wallet-list .currency-table .table thead tr td .sell-orders__td {
      height: 32px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .currency-list .currency-table .table thead tr td:nth-of-type(n+3) .sell-orders__td, .wallet-list .currency-table .table thead tr td:nth-of-type(n+3) .sell-orders__td {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
    .currency-list .currency-table .table tbody td:first-child, .wallet-list .currency-table .table tbody td:first-child {
      max-width: 30px; }
    .currency-list .currency-table .table tbody td:nth-of-type(n+3) .currency-table__td, .wallet-list .currency-table .table tbody td:nth-of-type(n+3) .currency-table__td {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
    .currency-list .currency-table .table tbody tr.active, .wallet-list .currency-table .table tbody tr.active {
      background-color: #fff2cd; }

.wallet-list {
  background-color: #fff;
  -webkit-box-shadow: 0.53px -0.848px 6px 0px rgba(0, 0, 0, 0.14);
          box-shadow: 0.53px -0.848px 6px 0px rgba(0, 0, 0, 0.14);
  margin-top: 15px;
  height: 360px;
  overflow: hidden; }
  .wallet-list .nav-tabs .nav-item.show .nav-link,
  .wallet-list .nav-tabs .nav-link.active {
    border-bottom: 2px solid #3cbf8d;
    color: #38393a;
    font-weight: bold; }
  .wallet-list .nav-tabs {
    background-color: #fff;
    border-bottom: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .wallet-list .nav-tabs .nav-item {
    background-color: #fff; }
  .wallet-list .nav-tabs .nav-item {
    margin-bottom: 0; }
  .wallet-list .nav-tabs .nav-link {
    border: none;
    color: #c0c0c2;
    font-size: 14px;
    display: block;
    font-family: "Open Sans", sans-serif;
    padding: 10px 1rem;
    text-transform: uppercase; }
  .wallet-list .tab-pane__row {
    position: relative; }
  .wallet-list .tab-pane__search {
    border: none;
    color: #38393a;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    height: 37px;
    padding: 5px 30px 5px; }
  .wallet-list .tab-pane__icon {
    color: #fec969;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .wallet-list .wallet-table {
    margin-top: 0; }
    .wallet-list .wallet-table__td {
      color: #38393a;
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      height: 32px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      min-width: 20px;
      min-height: 20px; }
      .wallet-list .wallet-table__td-name {
        font-weight: bold; }
      .wallet-list .wallet-table__td img {
        width: 20px;
        height: 20px; }
    .wallet-list .wallet-table .table thead tr td .sell-orders__td {
      height: 32px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .wallet-list .wallet-table .table thead tr td:nth-of-type(n+3) .sell-orders__td {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
    .wallet-list .wallet-table .table tbody td:first-child {
      max-width: 30px; }
    .wallet-list .wallet-table .table tbody td:nth-of-type(n+3) .wallet-table__td {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
  .wallet-list .clear {
    display: inline-block;
    position: absolute;
    bottom: 15px;
    left: 30px; }
    .wallet-list .clear img {
      margin-right: 5px; }

.limit-list {
  background-color: #fff;
  height: 360px;
  border-bottom: 1px solid #eceeef;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0.53px -0.848px 6px 0px rgba(0, 0, 0, 0.14);
          box-shadow: 0.53px -0.848px 6px 0px rgba(0, 0, 0, 0.14);
  overflow: hidden;
  margin-top: 15px;
  padding: 0.5rem;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  .limit-list:hover {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .limit-list .tab-content {
    padding-bottom: 15px; }
  .limit-list .tab-pane__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    border-left: 1px solid #eceeef;
    border-right: 1px solid #eceeef; }
  .limit-list .tab-pane__limit {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    padding: 2rem; }
  .limit-list .nav-tabs {
    border-bottom: 1px solid #eceeef; }
  .limit-list .nav-tabs .nav-item.show .nav-link,
  .limit-list .nav-tabs .nav-link.active {
    background-color: #fff;
    -webkit-border-top-right-radius: unset;
            border-top-right-radius: unset;
    -webkit-border-top-left-radius: unset;
            border-top-left-radius: unset;
    color: #38393a;
    font-weight: bold;
    border-color: #eceeef #eceeef #fff; }
  .limit-list .nav-tabs .nav-link {
    background-color: #f6f6f8;
    -webkit-border-top-right-radius: unset;
            border-top-right-radius: unset;
    -webkit-border-top-left-radius: unset;
            border-top-left-radius: unset;
    color: #38393a;
    font-weight: bold;
    padding: 0.5rem 2rem;
    border-right: 1px solid #eceeef;
    border-top: 1px solid #eceeef; }

.buy, .sell {
  border-right: 1px solid #eceeef;
  border-bottom: 1px solid #eceeef; }
  .buy__title, .sell__title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .buy__title img, .sell__title img {
      margin-right: 5px; }
    .buy__title-digits, .sell__title-digits {
      color: #38393a;
      font-size: 13px;
      font-family: "Open Sans", sans-serif;
      font-weight: bold; }
    .buy__title-text, .sell__title-text {
      color: #38393a;
      font-size: 16px;
      font-family: "Open Sans", sans-serif;
      font-weight: bold; }
  .buy__row, .sell__row {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 15px; }
    .buy__row-right, .sell__row-right {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 189px;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-left: auto;
      margin-top: 1px; }
      .buy__row-right .percent-count, .sell__row-right .percent-count {
        background-color: #f1f3f5;
        border: none;
        -webkit-border-radius: 3px;
                border-radius: 3px;
        cursor: pointer;
        color: #38393a;
        font-size: 12px;
        font-weight: bold;
        display: inline-block;
        padding: 2.5px 7.5px; }
        .buy__row-right .percent-count:hover, .sell__row-right .percent-count:hover {
          background-color: #fff2cc; }
        .buy__row-right .percent-count:focus, .sell__row-right .percent-count:focus {
          outline: none; }
        .buy__row-right .percent-count-active, .sell__row-right .percent-count-active {
          background-color: #fff2cc; }
  .buy__label, .sell__label {
    color: #38393a;
    font-family: "Open Sans", sans-serif;
    font-size: 13px; }
  .buy__input, .sell__input {
    border: 1px solid #eceeef;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    color: #38393a;
    font-size: 14px;
    padding: 10px;
    width: 189px;
    height: 31px; }
  .buy .input-info, .sell .input-info {
    color: #eceeef;
    font-weight: bold;
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .buy__btn, .sell__btn {
    border: none;
    color: #ffffff;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    background-color: #3cbf8d;
    height: 36px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .buy__btn:hover, .sell__btn:hover {
      color: #ffffff;
      text-decoration: none; }
    .buy__btn:focus, .sell__btn:focus {
      outline: none; }

.sell__btn {
  background-color: #ffba38; }
